@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html,body{
    font-family: 'Roboto', sans-serif;
}

.logo-img{
    max-height: 125px;
}

.description-with-button p{
    color: #8e8e8e;
    font-weight: 400;
    font-size: 15px;
    max-width: 859px;
}

.btn-primary{
    color: #fff;
    background-color: #4cb66a;
    border-color: #4cb66a;
    font-size: 13px;
    padding: 9px 32px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #449e5d;
    border-color: #449e5d; /*set the color you want here*/
}

.btn-primary:focus, .btn-primary.focus, .btn-primary:active {
    box-shadow: 0 0 0 3px #449e5e9f;
}

.google-map-wrapper{
    height: 600px;
}

.store-details-title{
    color: #4cb66b;
    font-size: 20px;
    font-weight: 500;
}

.store-details-description{
    min-height: 72px;
    font-size: 15px;
    color: grey;
}

.social-media-wrapper img{
    max-height: 50px;
}

table td{
    font-size: 15px;
    color: grey;
    padding:2px !important;
}

.footer-line{
    height: 30px;
    width: 100%;
    background: #4cb66b;
}

@media (max-width:850px){
    .logo-img{
        max-height: 100px;
    }
}

@media (max-width:575px){
    .logo-img{
        max-height: 80px;
    }
    .description-with-button p{
        font-size: 14px;
    }
}

@media (max-width:991px){
    .google-map-wrapper{
        height: 450px;
    }
}

@media (max-width:767px){
    .google-map-wrapper{
        height: 400px;
    }
}